.service-headingg {
    background-color: var(--color-green);
    padding-left: 14vw;
    padding-right: 14vw;
    height: 56vh;
    position: relative;
    overflow: visible;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
  
    &.service-headingg-curtain {
      transform: translateY(0);
  
      .service-heading-text {
        opacity: 1;
      } 
    }
  
    .service-heading-text {
      font-size: 4.5rem;
      font-weight: 100;
      letter-spacing: 2px;
      padding-top: 8rem;
      width: 70%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      position: relative;
      z-index: 2;
  
      &.show {
        opacity: 1;
      }
    }
  
    .service-logo-service {
      margin-top: 0;
      font-size: 30rem;
      justify-content: center; 
      align-items: center;
      text-align: center;
      -webkit-text-stroke: 2px var(--color-gray);
      color: transparent;
    }
  }
  
  .service-ad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30rem;
    color: transparent;
    text-shadow: none;
    padding: 0;
    z-index: 1;
    background-image: url('../../../public/about.webp');
    background-size: cover;
    background-position: center bottom; 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px #ddd;
  
    &::before {
      content: 'AD';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 57%;
      background-color: #e2f7e5;
      color: transparent;
      -webkit-text-stroke: 1px #ddd;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  
    &.hide-before::before {
      opacity: 0;
    }
  }
  
  @keyframes curtainFall {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.service-content{
    padding: 14vw;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;

    .service-col-1{
        max-width: 50%;
        align-items: flex-start;

        .service-col-heading{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 25vh;
            a{
                text-decoration: none;
                color: inherit;
            }
            &:last-child{
                margin-bottom: 5vh;
            }
            
            .img-wrapper {
                width: 100%;
                height: auto;
                overflow: hidden;
              }
                
             
            .service-col-heading-img {
                width: 70%;
                height: 70%;
                object-fit: cover; 
                transition: transform 0.3s ease-out;
              }

            .anim-circle{
                position: absolute; 
                right: 30%; 
                top: 30%; 
                transform: translate(-50%); 

                .shape-circle{
                    width: 10rem;
                    height: 10rem;
                   
                }
                .shape-center{
                    width: 5rem;
                    height: 5rem;
                }
            }
            .service-col-heading-text{
                display: flex;
                flex-direction: column;
                align-items: flex-start; 

                .head{
                    width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap:25%;
  padding-top: 1rem;
                    
                    
                    
                    h1{
                        font-weight: 100;
                        font-size: 3rem;
                        text-align: left !important;
                        align-items: flex-start;
                        padding-top: 1rem;
                        flex-basis: 25%; 
  margin-right: 1rem;
  font-weight: 100;
  font-size: 3rem;
                    }

                   
                }

                .para{
                    font-size: 1.2rem;
                    font-weight: 100;
                    width: 50%;
                    margin-top: 0;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .service-col-2{
        max-width: 50%;
        max-width: 50%;
        align-items: flex-start;

        .service-home-heading{
            width: 70%;
            font-size: 4rem;
            font-weight: 100;
            margin-top: 5vh;
            margin-bottom: 10vh;
        }
        .service-col-heading{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 25vh;

            a{
                text-decoration: none;
                color: inherit;
            }
            .img-wrapper {
                width: 70%;
                height: auto;
                overflow: hidden;
              }
                

             
            .service-col-heading-img{
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: transform 0.3s ease-out;


            }

            .anim-circle{
                position: absolute; 
                right: 30%; 
                top: 30%; 
                transform: translate(-50%);

                .shape-circle{
                    width: 10rem;
                    height: 10rem;
                   
                }
                .shape-center{
                    width: 5rem;
                    height: 5rem;
                }
            }
            .service-col-heading-text{
                display: flex;
                flex-direction: column;
                align-items: flex-start; 

                .head{
                    width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap:25%;
  padding-top: 1rem;
                    
                    
                    
                    h1{
                        font-weight: 100;
                        font-size: 3rem;
                        text-align: left !important;
                        align-items: flex-start;
                        padding-top: 1rem;
                        flex-basis: 25%; 
  margin-right: 1rem;
  font-weight: 100;
  font-size: 3rem;
                    }

                   
                }

                .para{
                    font-size: 1.2rem;
                    font-weight: 100;
                    width: 50%;
                    margin-top: 0;
                    letter-spacing: 2px;
                }
            }
        }
    }
    
}


  
  .arrow-icon-service {
    width: 8%;
    vertical-align: middle;
  
  }

.explore {
    display: flex;
    align-items: center;
    white-space: nowrap;
    
    padding-top: 1rem; 
  }
  
  .explore h3 {
    font-weight: 100;
    font-size: 1.3rem;
    margin-left: 0.5rem; 
    vertical-align: middle;
    margin-bottom: 0 !important;
  }

  .service-col-heading:hover .service-col-heading-img {
    transform: scale(1.1);
  }



    .shape-circle, .shape-center {
        transition: all 0.3s ease-out; 
        }