.service-logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
    clip-path: inset(0 0 0 0); 
    transition: clip-path 1.5s ease; 
}



.service-heading-cat {
    position: relative;
    overflow: hidden;
    height: 55vh;
    background-color: var(--color-green);
    transform: translateY(-100%);
    transition: transform 1.5s ease;
}
.service-heading-text-cat {
    position: relative;
    z-index: 3;
    font-size: 4.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding-top: 10%;
    padding-left: 14vw;
   
}
.service-logo-service-cat {
    padding-top: 10rem;
    font-size: 40rem;
    text-align: center;
    -webkit-text-stroke: 2px var(--color-gray);
    color: transparent;
    opacity: 0;
    transition: opacity 1s ease;

}

@keyframes fadeInLogo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-heading {
    position: absolute;
    top: 30%;
    right: 25%;
    transform: translateY(100%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.img-heading img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
}


@keyframes slideUpImage {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}



.white-overlay {
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    background-color: white;
    z-index: 3;
}

.anim-circle {
    position: absolute;
   

    z-index: 4;
}

.shape-circle {
    width: 10rem ;
    height: 10rem;
}

.shape-center {
    width: 5rem;
    height: 5rem;
}

.green-curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-green);
    transform: translateY(-100%);
    animation: dropCurtain 1s ease forwards;
    z-index: 1;
}

@keyframes dropCurtain {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.service-content-layout{
    display: flex;
    flex-direction: row;
    padding-right: 14vw;
}

.service-content-cat{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 14vw;
    padding-top: 7vh;

    h1{
        font-size: 4rem;
        font-weight: 100;
        letter-spacing: 2px;
        width: 90%;
    }

    
    .interface{
        margin-bottom: 30vh;
    }

    .dev{
        margin-bottom: 50vh;
    }
    .service-content-dropdown-cat{
        width: 50%;
        margin-left: 2rem;
            

            .dropdown-content{
                margin-top: 1rem;
            }
 
         
        h4{
            color: black;
            font-weight: 100;
            margin-bottom: 0;
        }

        h5{
            font-weight: 100;
            letter-spacing: 2px;
            color: var(--color-gray-hover);
        }
        
        hr{
            color: var(--color-gray-hover);
            width: 80%;
        }
    }
}
.service-content-text-para {
    width: 50%;
    padding-right: 10%;
    padding-top: 20%;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
}
.dropdown {
    position: relative;
    cursor: pointer;
    
}

.dropdown-header {
    display: flex;
    align-items: center;
}

.dropdown-icon {
    margin-right: 0.5rem;
 
}

.dropdown-content {
    display: none;
    margin-top: 1rem;
}

.dropdown-content.active {
    display: block;
}
.dropdown-content {
    display: none;
    margin-top: 1rem;
}

.dropdown.active .dropdown-content {
    display: block;
}