.proj-logo {
    position: relative;
    text-align: center;
  }
  
  .proj-text {
    font-size: 20rem;
    font-weight:bold;
    background-color: var(--color-gray);
  }
  
  .proj-image {
    opacity: 0;
    animation: showImage 1s ease-in-out forwards;
    animation-delay: 1s;
  }
  
  .proj-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    transform: translateY(-100%);
    animation: curtainFall 1s ease-in-out forwards;
    z-index: 1;
  }
  
  .proj-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
    text-shadow: 1px 1px 0 #ccc, -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc;
    z-index: 2;
  }
  
  .proj-outline text {
    fill: none;
    text-shadow: 1px 1px 0 #ccc, -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc;
  }
  
  @keyframes curtainFall {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes showImage {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .projects-title {
    position: absolute;
    top:10rem;
    left: 10rem;
    font-size: 3rem;
    text-align: left;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 3;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .project-filters {
    background-color: var(--color-gray);
    font-size: 1.2rem;
    justify-content: center;
  }
  
  .filter-title-column {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .filter-title {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
  }
  
  .project-filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .project-filters li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    position: relative;
    padding-left: 1.5rem;
    font-weight: lighter;
  }
  
  .project-filters li:hover {
    cursor: default;
  }
  
  .project-filters li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
  }

  .project-filters li.active::before {
    background-color: #000;
  }
  
  .project-filters li:hover::before {
    background-color: var(--color-orange);
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


  }
  
  .project-card {
    background-color: #fff;
    padding: 1rem;

  }
  
  .project-card img {
    width: 50%;
    height: auto;
  }
  