.proj-logo {
  position: relative;
  text-align: center;
}

.proj-text {
  font-size: 20rem;
  font-weight: bold;
  fill: transparent;
}

.proj-text.green-background {
  background-color: var(--color-green);
}

.proj-text.blue-background {
  background-color: var(--color-blue);
}

.proj-text.white-background {
  background-color: #fff;
}

.proj-text.gray-background {
  background-color: var(--color-light-gray);
}

.proj-image {
  opacity: 0;
  animation: fillImage 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fillImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.proj-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  transform: translateY(-100%);
  animation: curtainFall 1s ease-in-out forwards;
  animation-delay: 2s;
  z-index: 1;
}

.proj-background.green-background {
  background-color: var(--color-green);
}

.proj-background.blue-background {
  background-color: var(--color-blue);
}

.proj-background.white-background {
  background-color: #fff;
}

.proj-outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #ccc;
  stroke-width: 0.2px;
  z-index: 2;
}

.proj-outline::before {
  content: 'AD';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20rem;
  font-weight: normal;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: transparent;
  stroke: #ccc;
  stroke-width: 0.2px;
}



@keyframes curtainFall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes showImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects-title {
  position: absolute;
  top: 25%;
  left: 15%;
  transform: translateY(-50%);
  font-size: 4rem;
  text-align: left;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  z-index: 3;
  width: 40%;
  padding: 0;
  line-height: 1.2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.project-filters {
  padding-top: 8rem;
  background-color: var(--color-light-gray);
  font-size: 1.2rem;
  justify-content: center;
padding-bottom: 10rem;
}

.filter-title-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.filter-title {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
}

.project-filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-filters li {
  margin-bottom: 0.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 1.5rem;
  font-weight: lighter;
}

.project-filters li:hover {
  cursor: default;
}

.project-filters li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
}

.project-filters li.active::before {
  background-color: #000;
}

.project-filters li:hover::before {
  background-color: var(--color-orange);
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: -5rem;
}

.project-card {
  background-color: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: relative;
  &:nth-child(4n + 2) {
    margin-top: 50%;
  }

  &:nth-child(4n + 3) {
    margin-top: -50%;
  }
  img {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
  }

}
.project-card-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-card-year {
  font-size: 1rem;
  color: #888;
}

.project-card-explore {
  display: flex;
  align-items: center;
}

.project-card-arrow {
  margin-right: 0.5rem;
  transition: transform 0.3s ease-in-out;
  width: 8% !important;
  margin-bottom: 0 !important;
  height: auto;
}

.project-card-explore:hover .project-card-arrow {
  transform: translateX(5px);
}

.project-card-explore-link {
  font-size: 1.2rem;
  text-decoration: none;
color: var(--color-black-50);
letter-spacing: 1.5px;
  vertical-align: middle;
}