:root {
  --primary-color: var(--color-gold);
  --text-color: var(--color-main-blue);
}

@media (min-width: 1440px) {
  :root {
    --maskHeight: calc(0.4*var(--viewport-h) + (1424px - 2*var(--gutter))*1.16*0.427*0.38);
  }
}

@media (min-width: 1024px) {
  :root {
    --maskHeight: calc(0.4*var(--viewport-h) + (100vw - 2*var(--gutter) - 16px)*1.16*0.427*0.38);
  }
}

@media (min-width: 768px) {
  :root {
    --navigation-height: 96px;
    --navigation-sub-section-height: 524px;
    --maskHeight: calc(0.48*var(--viewport-h) + (100vw - 2*var(--gutter) - 16px)*1.16*0.427*0.46);
  }
}

@media (min-width: 1440px) {
  :root {
    --padding: 32px;
  }
}

@media (min-width: 768px) {
  :root {
    --padding: 16px;
  }
}

@media (min-width: 1024px) {
  :root {
    --gutter: 12px;
  }
}

@media (min-width: 768px) {
  :root {
    --gutter: 17px;
  }
}

:root {
  --color-white-15: hsla(0, 0%, 100%, 0.15);
  --color-white-20: hsla(0, 0%, 100%, 0.2);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-dark: #111;
  --color-dark-90: rgba(17, 17, 17, 0.9);
  --color-dark-50: rgba(17, 17, 17, 0.5);
  --color-dark-30: rgba(17, 17, 17, 0.3);
  --color-dark-20: rgba(17, 17, 17, 0.2);
  --color-dark-15: rgba(17, 17, 17, 0.15);
  --color-dark-10: rgba(17, 17, 17, 0.1);
  --color-dark-8: rgba(17, 17, 17, 0.08);
  --color-normal: #909090;
  --color-gray: #ddd;
  --color-gray-hover: #747474;
  --color-light-gray: #f6f5f6;
  --color-yellow: #ffdb76;
  --color-pink: #ef7e81;
  --color-orange: #ff5e5e;
  --color-light-pink: #f7b386;
  --color-purple: #be88d3;
  --color-blue: #e2ebf7;
  --color-main-blue: #141b4d;
  --color-main-blue-70: rgba(20, 27, 77, 0.7);
  --color-main-blue-50: rgba(20, 27, 77, 0.5);
  --color-main-blue-20: rgba(20, 27, 77, 0.2);
  --color-main-blue-10: rgba(20, 27, 77, 0.1);
  --color-light-blue: #89cfdd;
  --color-green: #e2f7e5;
  --color-gold: #bd9360;
  --color-silver: #a99d90;
  --color-silver-20: rgba(169, 157, 144, 0.2);
  --color-v-guide-inner: rgba(222, 189, 235, 0.6);
  --color-v-guide-outer: rgba(1, 213, 255, 0.3);
  --color-h-guide: rgba(255, 152, 140, 0.2);
  --color-twitter: #58cef2;
  --color-facebook: #4267b2;
  --color-youtube: rgba(255, 255, 0, 0);
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 480px;
  --breakpoint-mm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md-up: 769px;
  --breakpoint-lg: 1024px;
  --breakpoint-lg-up: 1025px;
  --breakpoint-vl: 1280px;
  --breakpoint-vl-up: 1281px;
  --breakpoint-xl: 1440px;
  --breakpoint-xl-up: 1441px;
  --breakpoint-xxl: 1680px;
  --breakpoint-xxxl: 1920px;
  --ease-default: cubic-bezier(0.4, 0.5, 0.15, 1);
  --ease-classic: cubic-bezier(0.23, 1, 0.32, 1);
  --viewport-h: 100vh;
  --scroll-y: 0;
  --navigation-top-bar-height: 38px;
  --navigation-height: 80px;
  --navigation-sub-section-height: 100vh;
  --color-navigation: var(--color-main-blue);
  --color-navigation-border: var(--color-white-20);
  --finance-button-width: 96px;
  --finance-button-height: 200px;
  --v-spacing: 8px;
  --maskHeight: calc(0.55*var(--viewport-h) + (100vw - 2*var(--gutter) - 16px)*1.16*0.427*0.61);
}

@import 'animate.css';

@font-face {
  font-family: "FoundersGroteskText";
  font-display: swap;
  src: url('../public/assets/fonts/FoundersGrotesk-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FoundersGroteskText";
  font-display: swap;
  src: url('../public/assets/fonts/FoundersGrotesk-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}

.cursor {
  border: 1px solid var(--color-orange, orange);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FoundersGroteskText", sans-serif;
}
html{
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navigation-height);
  background-color: #fff;
  padding-top: 1rem;
  top: 0;
  transition: background-color 0.5s ease;

  .header .container {
    position: relative;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 2.5rem;
    font-weight: bolder;
  }


  .container {
    --container-width: 100%;
    width: var(--container-width);
    max-width: 1440px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    margin-left: auto;
    margin-right: auto;
  }

  .row--items-middle {
    align-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);
  }
}

.header .col-header-subtitle,
.header .col-header-title {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.header__text--title,
.header__text--nav,
.header__text--home {
  color: var(--color-dark);

}

.header__text--title {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.header__text--title.show {
  opacity: 1;
  transform: translateX(0);
}

.header__text--title.hide {
  opacity: 0;
  transform: translateX(-20px);
}

.nav-open .header {
  background-color: transparent;
}

.nav-open .header__text--title {
  color: #fff;
}

.nav-open .header__text--nav {
  opacity: 1;
}

.header__text--nav {
  font-size: 1rem;
  margin-left: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.row>.col-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-btn__bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px 0;
  background-color: var(--color-dark);
  transition: transform 0.3s;
}

.nav-btn__bar--closed {
  position: absolute;
  top: calc(50% - 1px);
  margin: 0;
  background-color: var(--color-dark);
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-open .nav-btn__bar--closed.nav-btn__bar-1 {
  transform: rotate(45deg) scaleX(1);
}

.nav-open .nav-btn__bar--closed.nav-btn__bar-2 {
  transform: rotate(-45deg) scaleX(1);
}

.nav-open .nav-btn__bar:not(.nav-btn__bar--closed) {
  opacity: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  // transition: opacity 0.8s ease, visibility 0s linear 2s;
  overflow: visible;
  // clip-path: circle(0% at var(--nav-close-x) var(--nav-close-y));
  clip-path: none; /* Initial state (full circle) */
  transition: clip-path 0.5s ease-in-out;
}

.nav-open .nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 0.8s ease, clip-path 1.2s ease;
  clip-path: circle(100% at center);
  width: 100vw;
  height: 100vh;
}

// .nav::before {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(0);
//   width: 200vw;
//   height: 200vw;
//   border-radius: 50%;
//   background-color: var(--color-dark);
//   transition: transform 0.8s ease;
// }

.nav-open .nav::before {
  transform: translate(-50%, -50%) scale(1);
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: 0.3s;
  position: relative;
  z-index: 9998;
  padding: 2rem;
  padding-top: var(--navigation-height);
}

.nav-open .nav-container {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-left: 25%;
}
.nav__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--color-white-15);

  transition: opacity 0.5s ease;
  pointer-events: none;
  z-index: 1;
}

.nav-open .nav__logo {
  opacity: 1;
  transition-delay: 0.8s;
}
.nav__logo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  overflow: hidden;
}

.nav__logo-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-item:hover .nav__logo-video {
  opacity: 1;
  z-index: 2;
}
.nav__logo-text {
  position: relative;
  z-index: 1;
}
.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: left;
  position: relative;
  z-index: 1;
}

.nav-row {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-open .nav-row {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;
}

.nav-item {
  margin: 0;
  opacity: 0;
  padding: 0;
  transform: translateX(-20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  margin-bottom: -2rem;
}

.nav-open .nav-item {
  opacity: 1;
  transform: translateX(0);
  transition-delay: calc(0.1s * var(--nav-item-index));
}

.nav-container {
  z-index: 9998;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.nav-open .nav-overlay {
  opacity: 1;
  pointer-events: auto;
}

.nav-open {

  .nav-btn,
  .header__logo,
  .header__text .header__text--title,
  .header__text--nav,
  .start-label {
    color: #fff;
    z-index: 10000;
  }

  .nav-btn__bar {
    background-color: #fff;
  }
}
.start-label.hide {
  opacity: 0;
  transition: 0.3s ease-out;
  pointer-events: none;
} 
.nav-link {
  font-size: 4.5rem;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 0;
  color: #fff;
  font-weight: 100;
  padding: 0;
  display: inline-block;
  transition: transform 0.8s ease;
}

.nav-link:hover {
  color: #fff;
  transform: translateX(20px);
}

.start-project {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
  background-color: transparent;
  color: transparent;
}

.start-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: transparent;
}

.start-circle {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.start-circle i {
  font-size: 2rem; /* Adjust size as needed */
  color: white;
}

.start-label {
  color: var(--color-dark);
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;


}

.nav-contact {
  text-decoration: none;
}

.main-content {
  margin-top: var(--navigation-height);
  padding-top: 2rem;
}

.page-hint {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  opacity: 1;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transition-duration: 1.5s;
  cursor: pointer;
  z-index: 999;
  pointer-events: none;
}

.page-hint .hint__text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: 0 50%;
  display: flex;
  width: 100px;
  flex-wrap: nowrap;
  text-align: center;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: 2px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.page-hint .icon-arrow-scroll {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.page-hint.visible .icon-arrow-scroll {
  opacity: 1;
}

.page-hint.loaded .hint__text {
  opacity: 0;
}

.page-hint.loaded .hint__text {
  opacity: 0;
}

.page-hint.loaded .icon-arrow-scroll {
  opacity: 1;
}
@media (max-width:380px) {
  .ad-bg {
    font-size: 10rem !important;
    top:35% !important;
    justify-content: flex-start !important;
  }
  
  .ad-title {
    font-size: 2rem !important;
  }
  
  .photo-cont {
  width: 80% !important;
  margin-top: -28vh !important;
  
  }
  
  .scrollimg {
    display: none !important;
  }
  
  .heading-content {
  
    flex-direction: column !important;
    margin-bottom: 4vh !important;
  }
  
  .text-container {
    width: 100% !important;
    padding: 10vw !important;
  
  }
  .learn-content {
    width: 100% !important;
    padding: 10vw !important;
  
  
    .Big-text {
      font-size: 2rem !important;
      width: 90% !important;
  
    }
  
  }
  
}

@media (min-width:381px) and (max-width:480px){
  .ad-bg {
    font-size: 12rem !important;
    top:30% !important;
    justify-content: flex-start !important;
  }
  
  .ad-title {
    font-size: 2rem !important;
  }
  
  .photo-cont {
  width: 80% !important;
  margin-top: -28vh !important;
  
  }
  
  .scrollimg {
    display: none !important;
  }
  
  .heading-content {
  
    flex-direction: column !important;
    margin-bottom: 4vh !important;
  }
  
  .text-container {
    width: 100% !important;
    padding: 10vw !important;
  
  }
  .learn-content {
    width: 100% !important;
    padding: 10vw !important;
  
  
    .Big-text {
      font-size: 2rem !important;
      width: 90% !important;
  
    }
  
    .learn-text {
      font-weight: 100 !important;
    }
  }

}

@media (min-width:481px) and (max-width:767px){
  .page-hint{
    display: none  !important;
  }
  .ad-bg {
    font-size: 16rem !important;
    top:35% !important;
    justify-content: flex-start !important;
  }
  
  .ad-title {
    font-size: 3rem !important;
  }
  
  .photo-cont {
  width: 80% !important;
  margin-top: -28vh !important;
  
  }
  
  .scrollimg {
    display: none !important;
  }
  
  .heading-content {
    flex-direction: column !important;
    margin-bottom: 4vh !important;
  }
  
  .text-container {
    width: 100% !important;
    padding: 5vw !important;
    padding-left: 0 !important;
  
  }
  .learn-content {
    width: 100% !important;
    padding: 5vw !important;
    padding-left: 0 !important;
  
  
    .Big-text {
      font-size: 2.5rem !important;
      width: 90% !important;
  
    }
  
   
  }

}
@media (min-width:768px) and (max-width:1024px){
  .page-hint{
    display: none  !important;
  }
  .ad-bg {
    font-size: 22rem !important;
    top:35% !important;
    justify-content: flex-start !important;
  }
  
  .ad-title {
    font-size: 3rem !important;
  }
  
  .photo-cont {
  width: 90% !important;
  margin-top: -22vh !important;
  
  }
  
  .scrollimg {
    display: none !important;
  }
  
  .heading-content {
    flex-direction: column !important;
    margin-bottom: 4vh !important;
  }
  
  .text-container {
    width: 100% !important;
    padding: 5vw !important;
    padding-left: 0 !important;
  
  }
  .learn-content {
    width: 100% !important;
    padding: 5vw !important;
    padding-left: 0 !important;
  
  
    .Big-text {
      font-size: 2.5rem !important;
      width: 100% !important;
  
    }
  
   
  }

}




@media (max-width:769px) {
  .header {
    width: 80%;


    .header .container {
      width: 90%;
    }

    a {
      font-size: 1.8rem;
      margin-left: 1rem;
    }


    .container {
      --container-width: 100%;
      width: var(--container-width);
      max-width: 768px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
    }
  }

  .header__text--title {
    font-size: 0.8rem;

  }


  .header__text--nav {
    font-size: 0.8rem;

  }

  .row>.col-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }



  .nav-btn__bar {

    width: 16px;
  }


  .start-project {
    right: unset;
    left: 90vw;
  }

  .start-circle {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .start-label {
    font-size: 1.4rem !important;
    margin-top: 1rem !important;
  }

  .nav-contact {
    margin-left: 0;
  }

}


@media (min-width: 770px) and (max-width:1024px) {
  .header {
    width: 80%;


    .header .container {
      width: 90%;
    }

    a {
      font-size: 2rem;
      margin-left: 1rem;
    }


    .container {
      --container-width: 100%;
      width: var(--container-width);
      max-width: 1024px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
    }
  }

  .header__text--title {
    font-size: 1rem;

  }


  .header__text--nav {
    font-size: 1rem;

  }

  .row>.col-2 {
    flex: 0 0 40%;
    max-width: 40%;
  }



  .nav-btn__bar {

    width: 20px;
  }


  .start-project {
    right: unset;
    left: 90vw;
  }

  .start-circle {
    width: 3rem !important;
    height: 3rem !important;
  }

  .start-label {
    font-size: 1.6rem !important;
    margin-top: 1rem !important;
  }

  .nav-contact {
    margin-left: 0;
  }


}


.ad-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 38rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--color-orange);
  text-shadow: none;
  padding: 0;
  z-index: 1;
  top: 20%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.ad-title {
  text-wrap: wrap;
  width: 50%;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 6px;
  z-index: 2;
  margin: 0;

}

.photo-cont {
  width: 40%;
margin: 0;
margin-top: -10vh;

}

.scrollimg {
  width: 50%;
  margin-left: auto;

  margin-top: -15vh;
}

.homeimg {
  margin-top: 35vh;
  z-index: 1;
  width: 100%;
  height: auto;

}

.home-circle {
  width: 20rem;
  height: 20rem;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  border-radius: 50%;
  pointer-events: auto;
  z-index: 2;
}

.landimg {
  padding-right: 8vw;
  max-width: 60%;
  height: auto;
  z-index: 1;
  margin-top: -16vh;
  margin-left: 10vw;
}

.heading-content {
  height:auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.text-container {
  width: 50%;
  font-size: 1.3rem;
  padding-left: 15vw;
  padding-right: 5vw;
  font-weight: lighter;
  text-align: left;
  line-height: 1.6;
  letter-spacing: 2px;
  color: var(--color-dark-90);

}


.learn-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  justify-content: end;
  padding-top: 10vh;
  margin-bottom: 0;


  .Big-text {
    font-size: 3rem;
    width: 60%;
    line-height: 1.2;
    letter-spacing: 3px;
  }

  .learn-text {
    font-size: 1.1rem;
    padding-top: 2rem;
    color: var(--color-gray-hover);
    font-weight: 100 !important;
    letter-spacing: 2px;

    img {
      width: 1.2rem;
      height: auto;
      margin-right: 0.4rem;
    }
  }
}

.feature-projects {
  height: auto;
  background-color: var(--color-light-gray);
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
}

.feature-heading {
  font-size: 16rem;
  letter-spacing: 2px;
  font-weight: 100;
  white-space: nowrap;
  margin: 0;
  line-height: 1;
}

@media (max-width:768px){

.feature-projects {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.feature-heading {
  font-size: 6rem;
}
}


.services-home {
  width: 100%;
  height: 116.5vh;
  background-color: var(--color-green);
  padding-top: 16vh;
  padding-left: 12vw;
  padding-right: 12vw;
  margin-bottom: 25vh;
}

.services-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 6rem;
}

.service-header {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .service-title {
    font-size: 1.3rem;
    font-weight: 100;

  }

  .service-categories {
    font-size: 5rem;
    font-weight: 100;
    margin-left: 0.8rem;

    h2 {
      font-weight: 200;
      font-size: 4rem;
      letter-spacing: 2px;
    }
  }

  .service-action {
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--color-gray-hover);


    img {
      width: 1.2rem;
      height: auto;
      margin-right: 0.5rem;
    }
  }
}

.Circle-pattern {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.shape-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.shape-circle:nth-child(1) {
  width: 22rem;
  height: 22rem;
  background-color: transparent;
  border: 1px solid #000;

}

.shape-circle:nth-child(2) {
  width: 16rem;
  height: 16rem;
}

.shape-circle:nth-child(3) {
  width: 22rem;
  height: 22rem;
  background-color: transparent;
  border: 1px solid var(--color-gray-hover);
}

.shape-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-gray-hover);
}
.service-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38rem;
  color: transparent;
  text-shadow: none;
  padding: 0;
  z-index: 1;
}

.ad-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30rem;
  color: transparent;
  text-shadow: none;
  padding: 0;
  z-index: 1;
  background-image: url('../public/about.webp');
  background-size: cover;
  background-position: center bottom;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #ddd;
}

.ad-text::before {
  content: 'AD';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 57%;
  background-color: #e2f7e5;
  color: transparent;
  -webkit-text-stroke: 1px #ddd;
 
}

@media (min-width:320px)and (max-width:640px){
  .services-home {
    width: 100%;
    height: 50vh;
    background-color: var(--color-green);
    padding-top: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 15vh;
  }
  
  .services-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  
  .service-header {
    gap: 2rem;
    .service-title {
      font-size: 1rem;
  
    }
  
    .service-categories {
      font-size: 2rem;
      font-weight: 100;
      margin-left: 0.8rem;
  
      h2 {
        font-weight: 200;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  
    .service-action {
      font-size: 1rem;
      font-weight: 100;
      color: var(--color-gray-hover);
  
  
      img {
        width: 1.2rem;
        height: auto;
        margin-right: 0.5rem;
      }
    }
  }
  
  .Circle-pattern {
    display: none;
  }

  .service-logo {
    font-size: 20rem;
  }
  
  .ad-text {
    font-size: 20rem;
  }
  

.top-button {
  padding-left: 8vw;
  hr {
width: 80%;
display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  button {
    font-size: 0.8rem;
  }
}

.contact-home {
  height: 40vh;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 3rem;
    letter-spacing: 2px;
    align-self: center !important;
  }

}


.hero-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 0 !important;

}

.footer-col {
  flex: 0 1 100%;
  padding: 0;
}

.footer-col1,
.footer-col2,
.footer-col3 {
  width: 100%;
  margin-top: 0;
  padding-left: 2rem !important;
  padding-bottom: 2vh !important;
}

.footer-col4 {
  flex: 0 1 100%;
  gap: 1rem;

}


.subscribe-box {
  width: 100% !important;


}


.footer-content {

  font-size: 1rem;


  a {
    font-size: 0.8rem;
  }
}

.footer-col4 {
  background-color: #000;
  color: white;
  padding: 2rem;

  .subscribe-title {
    font-size: 0.9rem;
  }

  .subscribe-box {


    h4 {
      font-size: 1rem;

    }
  }
}
  
}

@media (min-width:641px) and (max-width:768px){
  .services-home {
    width: 100%;
    height: 61vh;
    background-color: var(--color-green);
    padding-top: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 15vh;
  }
  
  .services-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  
  .service-header {
    gap: 2rem;
    .service-title {
      font-size: 1rem;
  
    }
  
    .service-categories {
      font-size: 2rem;
      font-weight: 100;
      margin-left: 0.8rem;
  
      h2 {
        font-weight: 200;
        font-size: 2rem;
        letter-spacing: 2px;
      }
    }
  
    .service-action {
      font-size: 1rem;
      font-weight: 100;
      color: var(--color-gray-hover);
  
  
      img {
        width: 1.2rem;
        height: auto;
        margin-right: 0.5rem;
      }
    }
  }
  
 

  .service-logo {
    margin-top: 10vh;
    font-size: 20rem;
  }
  
  .ad-text {
    font-size: 20rem;
  }
  

.top-button {
  padding-left: 8vw;
  hr {
width: 80%;
display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  button {
    font-size: 0.8rem;
  }
}

.contact-home {
  height: 30vh !important;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    align-self: center !important;
  }

}


.hero-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 0 !important;

}

.footer-col {
  flex: 0 1 100%;
  padding: 0;
}

.footer-col1,
.footer-col2,
.footer-col3 {
  width: 100%;
  margin-top: 0;
  padding-left: 2rem !important;
  padding-bottom: 2vh !important;
}

.footer-col4 {
  flex: 0 1 100%;
  gap: 1rem;

}


.subscribe-box {
  width: 100% !important;


}


.footer-content {

  font-size: 1rem;


  a {
    font-size: 2rem;
  }
}

.footer-col4 {
  background-color: #000;
  color: white;
  padding: 2rem;

  .subscribe-title {
    font-size: 1rem;
  }

  .subscribe-box {


    h4 {
      font-size: 1.2rem;

    }
  }
}
  
}

.contact-footer {
  margin-top: auto;
}

.top-button {
  padding-left: 12vw;
  display: flex;
  align-items: center;


  hr {
    width: 90%;
    color: black;
    margin-top: 5vh;
  }

  button {
    font-size: 1rem;
    border: none;
    background-color: transparent;
    align-self: center;
    margin-left: auto;
    margin-right: 0;
    padding-right: 1rem;
  }
}

.contact-home {
  height: 40vh;
  padding-left: 12vw;
  padding-right: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 3rem;
    letter-spacing: 2px;
  }


  .contact-action {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }

  .contact-action-circle {
    width: 7rem;
    height: 7rem;
    background-color: var(--color-orange);
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-action-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: white;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 100;
  }

  .contact-action:hover .contact-action-word {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);

  }

  .contact-action:hover .contact-action-circle {
    transform: scale(0.9);

  }

}


.hero-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 12vw;
  padding-right: 12vw;

}

.footer-col {
  flex: 0 1 30%;
  padding: 10px;
}

.footer-col1,
.footer-col2,
.footer-col3 {
  width: 100%;
  margin-top: 2vh;
  padding-bottom: 10vh;
}

.footer-col4 {
  flex: 0 1 60%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}


.subscribe-title {
  font-weight: lighter;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.6;
}

.subscribe-box {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid var(--color-gray-hover);

}

.footer-title {
  color: var(--color-orange);
  margin-bottom: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;

  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
    font-weight: 100;
  }
}

.footer-col4 {
  background-color: #000;
  color: white;
  padding: 4rem;

  .subscribe-title {
    font-size: 0.9rem;
  }

  .subscribe-box {
    letter-spacing: 1px;
    font-weight: 100;

    h4 {
      font-size: 1.2rem;
      color: var(--color-gray-hover);
    }

    h5 {
      color: white;
    }
  }
}