.main-content{
    margin-bottom: 10vh;
    padding-top: 0;
}


.contact-content {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    margin-top: 24vh;
    padding-left: 12vw;
    padding-right: 12vw;

    .contact-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .form-group {
            width: 100%;
            border: none;
            font-size: 1.2rem;
            margin-bottom: 1rem;

            &:focus {
                outline: none;
            }
        }

        input[type='text'],
        input[type='email'],
        input[type='tel'],
        select,
        textarea {
            width: 100%;
            padding: 1rem;
            border: none;
            border-bottom: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-weight: 100;
        }

        .attach {
            width: 100%;
            padding: 1rem;
            border: none;
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-weight: 100;
        }

        select {
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath fill='%23333' d='M6 6L0 0h12z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 10px center;

        }

        textarea {
            resize: vertical;
        }

        .file-input {
            display: none;
        }

        .file-label {
            display: inline-block;
            width: 30%;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            color: black;
            font-weight: 100;
            background-color: transparent;
            border: 1px solid var(--color-orange);

            cursor: pointer;
            margin-top: 5px;
        }

        .file-label:hover {
            background-color: transparent;
        }

        button[type='submit'] {
            background-color: #ff5555;
            color: white;
            width: 6rem;
            height: 6rem;
            padding: 2rem;
            font-weight: 100;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 1rem;
            float: left;
        }

        .budget-container {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            justify-content: space-between;
        }

        #budgetdiv {
            flex: 1;
            padding: 10px;
            border: none;

            font-size: 1.2rem;
        }

        #budget {
            width: 40%;
            padding: 10px;
            border: none;

            font-size: 1rem;
            margin-left: 10px;
        }

        #message {
            min-height: 8rem;
        }
    }
    .contact-title{
        width: 50%;
        h1{
            font-size: 4rem;
            letter-spacing: 2px;
            font-weight: 100;
        }
        img{
            width: 60%;
            padding-bottom: 1rem;
        }
    }
}

@media (min-width:320px)and (max-width:640px){ 
    .contact-content {
        flex-direction: column-reverse;
        margin-top: 8rem;
        gap: 2rem;

        .contact-title {
            width: 100%;
            h1 {
                font-size: 1.5rem;
                font-weight: 400;
                letter-spacing: 1px;
            }
            img {
                display: none;
            }
        }

        .contact-form {
            width: 100%;

            .form-group {
                #budgetdiv {
                    font-size: 1rem;
                }
            }
        }
    }
}