.navbar {
    height: 10vh;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vh;
    
    
    
}

.nav-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7vw;
    position: fixed;
    background-color: white;
    height: 9vh;

    .menuBtn {
        border: none;
        background-color: transparent;



        .sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: white;



            .background {
                z-index: 5;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100vw;
                background: black;
                display: flex;
                justify-content: center;

                .links {

                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    justify-content: center;
                    width: 40%;
                    margin: auto;



                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 4rem;
                        font-weight: 100;
                        
                    }

                }
            }

            button {
                z-index: 5;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: fixed;
                background-color: transparent;
                border: none;

            }
        }
    }

}



.header_logo {
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 2.5rem;
    padding-left: 5rem;
    
  
    
  }

.ht-title,
.new-ht-title {
    font-weight: 150;
    letter-spacing: 0.10rem;

}

.ht-title,
.new-ht-title {
    display: block;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.ht-title {
    transform: translateX(var(--title-translate-x, 0));
    opacity: var(--title-opacity, 1);
}

.new-ht-title {
    transform: translateX(var(--new-title-translate-x, -100%));
    opacity: var(--new-title-opacity, 0);
}


.menuBtn {
    width: 10%;
    margin-right: 2vw;
}

.web_logo {
    width: 10%;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.title {
    width: 15%;
    display: flex;
    justify-content: center;
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 1.2rem;
    margin-left: 4rem;
}

.start-project {
    position: fixed;
    top: 1rem;
    right: 0;
    z-index: 70;
    width: 4rem;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
    margin-right: 1rem;
}

.start-cont {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
    width: 100%;
}

.start-circle {
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange);
    border-radius: 50%;
    pointer-events: auto;
}

.start-label {
    color: rgb(17, 17, 17);
    margin-top: 2rem;
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    text-align: center;
    pointer-events: auto;
    font-size: 2rem;
    font-weight: 300;
}

.nav-contact {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.dflex{
    display:flex;
    justify-content: center;
    align-items: center;
  }

    .menu{
      width:3rem;
      height:3rem;
      @extend .dflex;
      cursor:pointer;
    }
 
  .menu_container{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    color:#fff;
    @extend .dflex;
    flex-direction: column;
    
    a{
      display:inline-flex;
      color:#fff;
      text-decoration: none;
      height:80px;
      overflow: hidden;
      font-size:2vw;
      @media(max-width:768px){
        font-size:22px;
      }
      text-transform: uppercase;
      +a{
        margin-top:1vw;
      }
    }
  
    .btn_close{
      @extend .dflex;
      width:58px;
      height:58px;
      background-color:#fff;
      color:#000;
      border-radius: 58px;
      position:absolute;
      top:20px;
      left:8rem;
      z-index:2;
      cursor:pointer;
      font-size:18px;
    }

    
  }

  .navbar.white .header_logo,
  .navbar.white .ht-title,
  .navbar.white .new-ht-title,
  .navbar.white .start-label {
      color: white;
     
  }


  .arrowlogo{
    width:4vw;
    height:100vh;
    font-size: 6rem;
    z-index: 70;
  .home-arrow{
    height:3rem;
  width: auto;
  }
}

 